.container {
    /* background-image: url("../../assets/images/background.svg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(52, 202, 52);
    position: relative;
}
.header-content {
    font-size: 2.5rem;
}
input {
    width: 30%;
    padding: 8px 0px;
    margin: 15px 0px;
    outline: none;
    border: 1px solid rgb(52, 202, 52);
}
button {
    padding: 7px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orange;
    color: #ffffff;
    border-radius: 7px;

}
.Logo > img {
    width: 7%;
    position: absolute;
    top: 0;
    left: 0;
}
